<% provide(:title, t('search_title')) %>
<div class="center">
  <h1 style="margin-top: 2em; font-size: 3.5em; text-align: center; color: #<%= random_color %>">Jodel Search</h1>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 search">
      <form accept-charset="UTF-8" action="/cities" class="new_city"
      id="new_city" method="post">
      <div class="input-group">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :locale, I18n.locale %>
        <input type="text" name="city[name]" class="form-control" placeholder="<%= t('search_placeholder') %>" action="cities">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div>
      </form><!-- /input-group -->
    </div>
  </div>
</div><!-- /.row -->
