@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.left h1 {
  margin-bottom: 10px;
}

/* header */

.navbar-brand {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.top_jodels {
  display: block;
}

.legal {
  font-size: 12px;
  width: 100%;
  margin-bottom: 1em;
  display: block;
}

.image_link {
  color: white;
}

.centered-and-cropped {
  height: 125px;
  width: 100%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  margin: -10px -10px -10px 0px;
  overflow: hidden;
}

.imgContainer {
  overflow: hidden;
  height: 105px;
}

a.image_link {
  :hover {
    color: #D0D0D0;
  }
}

.img-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  line-height: 105px;
  left: 0;
  right: 0;
  text-align: center;
  width: 90%;
  vertical-align: middle;
  top:20px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #EEEEEE;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.center {
  text-align: center;
}

.language {
  height: 15px;
  display: inline-block !important;
}

.language_link {
  line-height: 15px !important;
  padding-left: 0px;
  padding-right: 0px;
}

.fb-like {
  width: 100%;
}

nav.share {float: right;} /* shareable's nav tag */
nav.share div {float:right;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/
